@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Plus Jakarta Sans;
  
}
body{
    overflow-x: hidden;
}

.container{
    height: 40px;
    width: 100%;
    background: #0C2695;
    align-items: center;
    display: flex;
    justify-content: end;
    padding-right: 198px;


    
}
.header {
    /* position:fixed; */
    z-index: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* top: 40px; */
    min-height: 80px;
    width: 1520px;
    transition: 0.86s;
    align-items: center;
    align-items: space-between;
    background-color: #fff;
    color: #000;
    padding: 0px 11.45%;
    text-align: center;
    overflow: hidden;
    font-size: 0.875rem;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.4);
  }
  .header_head{
    width: 100%;
    height: 40px;
    flex-shrink: 0;
    background-color: #0C2695;
    overflow: hidden;
  }
  .header_items{
    text-decoration: none;
    display: flex;
    justify-content: end;
    gap: 24px;
    margin-top: 9px;
    margin-right: 198px;
    color: #FFF;
    /* font-family: 'Inter'; */
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 200% */
  }
  .header_items a {
    text-decoration: none;
    color: #FFF;
  }
  .header .head{
    margin: 0;
    display: flex;
    /* justify-content: left; */
    text-align: left;
    width:200px;
    font-weight: bold;
    margin: 1px;
    font-size: 1rem;
    height: 50px;
    position: relative;
    color: #0C2695;
  }
  
  .header .head p{
    font-size: 16px;
    height: 50px;
    translate: 0px -16px;
    margin: 16px 0px;
  }
  
  .header nav {
    display: flex;
    align-items: center;
    justify-content: center;
    /* flex-wrap: wrap; */
    margin-top: 10px;
    font-weight: 200;
  }
  
  .header nav a {
    color: #000;
      text-decoration: none;
      font-size: 0.8rem;
      margin: 10px 15px;
      font-weight: 500;
  }
  
  .hamburger{
    position: absolute;
    visibility: hidden;
    top: 67px;
    height: 38px;
    width: 38px;
    right: 15px;
    background-size: contain;
    border: 2px solid #0C2695;
    border-radius: 10px;
    overflow: hidden;
  }
  
  #hamburger{
    transform: translateY(-42px);
    transition: 0.86s;
  }
  
  .hamburger img{
    height: 38px;
    width: 38px;
  }
.mid{
    display: flex;
    gap: 25px;
    /* margin-left: 56.81rem;  */
    
}
.box{
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Plus Jakarta Sans;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    color: #FFF;
}
.nav_bar{
    height: 80px;
    /* background-color: aqua; */
    /* width: 1440px; */
    display: flex;
    /* justify-content: space-evenly; */
    align-items: center;
    /* border: 2px solid black; */
}
.nvc1{
    display: flex;
    color: #000;
    display: inline-flex;
    align-items: flex-start;
    gap: 24px;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Plus Jakarta Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 171.429% */
    
}
.ait_logo{

    margin-left: 165px;
    width: 45.041px;
    height: 40px;
    flex-shrink: 0;
}
.nvc{
  
    color: #0C2695;
    /* margin-left: 224.04px; */
    margin-left: 20px;
    /* margin-right: 1058.96px;
    width: 159px; */
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Plus Jakarta Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.nvc1{
    margin-left: 29.80rem;
}
.g20_logo img{
    margin-left: 16px;
    width: 45.041px;
    height: 40px;

}
.camp{
    background-image: url(aitcampbanner.jpg);
    background-size:cover;
    width: 100%;
    height: 401px;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.about{
    display: flex;
    width: 188px;
    height: 80px;
    background-color: #0C2695;
    opacity: 0.8;
    justify-content: center;
    align-items: center;
    color: #FFF;
/* leading-trim: both;
text-edge: cap; */
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Plus Jakarta Sans;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.about1{
   
    width: 445px;
    height: 63px;
    flex-shrink: 0;
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 16px;
    background-color: #4C6BF1;
    opacity: 0.7;
    color: #FFF;
    text-align: center;
    /* leading-trim: both;
    text-edge: cap; */
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Plus Jakarta Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}


.aait{
    height: 564px;
    /* width: 1440px; */
    background: linear-gradient(128deg, #0C2695 0%, #4C6BF1 94.45%);
    border: 1px solid black;
    margin-bottom: 106px;
}

.rectbig{
    display: flex;
    gap: 1.87rem;
    /* align-items: center; */
    justify-content: center;

}


.ab{
    color: #FFF;
    text-align: center;
    align-items: center;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Plus Jakarta Sans;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 3.5rem;
}
.r61{
    /* margin-left: 260px; */
    margin-top: 2.5rem;
    width: 445px;
    height: 220px;
    flex-shrink: 0;
}
.r62{
    /* margin-top:-220px;
    margin-left: 735px; */
    width: 445px;
    height: 220px;
    flex-shrink: 0;
}
.c1{
    width: 445px;
    color: #C8D2FF;
    text-align: center;
    leading-trim: both;
    text-edge: cap;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Plus Jakarta Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
     /* margin-left: 311px; */
    margin-top: 1.5rem;
    /* display: inline-block; */ 
}
.c2{
    width: 342px;
    color: #C8D2FF;
    text-align: center;
    leading-trim: both;
    text-edge: cap;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Plus Jakarta Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    /* margin-left: 133px;
    margin-top: 24px; */
    /* display: inline-block; */
}
.pc1{
    /* margin-left: 260px; */
    width: 445px;
    color: #FFF;
    text-align: center;
    leading-trim: both;
    text-edge: cap;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Plus Jakarta Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; 
    /* 150% */
    margin-top: 1rem;
    /* margin-top: 16px; */
    /* display: inline-block; */
}
.pc2{
    /* margin-left: 30px; */
    width: 445px;
    color: #FFF;
    text-align: center;
    leading-trim: both;
    text-edge: cap;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Plus Jakarta Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
    /* margin-top: 16px; */
    display: inline-block;
}
/* .jdsc{
    display: inline-block;
} */

/* //////////////////////////////////////////////////////// */

.jdbe{
    display: flex;
}
#jdh2{
    margin-top: 72px;
    margin-left: 165px;
    color: #0C2695;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Plus Jakarta Sans;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    /* display: inline-block; */
}
.jdsi{
    /* margin-top: 34px; */
    margin-left: 165px;
    border-radius: 50%;
    width: 160px;
    height: 160px;
    
    background: url(diro.jpg);
    background-repeat: no-repeat;
    background-position: top;
    /* background-color: #FFF; */
    display: inline-block;
}
#mkh3{
    display: inline-block;
    width: 269px;
    color: #000;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Plus Jakarta Sans;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-left: 16px;
    position: relative;
    /* margin-bottom: 500px; */
    padding-top: 61px;
    padding-left: 16px;

}
#dis{
    color: #0C2695;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Plus Jakarta Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 171.429% */
}
#dis2{
    color: #6D6D6D;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Plus Jakarta Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 171.429% */
}
#h22{
    margin-left: 165px;
    color: #4C6BF1;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Plus Jakarta Sans;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    display: inline-block;
}

.jd_table{
    width: fit-content;
    max-width: min-content;
    height: fit-content;
    min-width: 225px;
    box-shadow: 0.1px 0.1px 3px rgba(0, 0,0,0.2);
    border-radius: 2px;
    font-family:'Plus Jakarta Sans';
    margin-left: 165px;
    border-radius:8px;
    padding-top: 12px;
    padding-bottom: 15px;
    padding-left: 15px;
    padding-right: 17px;
    cursor: pointer;
    
}

.jd_table ul p{
    color: #0C2695;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: 'Plus Jakarta Sans';
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px; 
    padding-top: 12px;
    border-style: hidden;
    border-top: 1px solid rgba(234,234,234,1);
}

.jd_table ul{
    list-style: none;
    display:flex;
    flex-direction:column;
    gap: 16px;
}
.jd_table ul a{
    font-size: 16px;
    color:#000000;
    text-align:left;
    vertical-align: middle;
    line-height:24px;
    border-style:hidden;
    width: 220px;
    height: 24px;
    border-top: 1px solid rgba(234,234,234,1);
    padding-top: 16px;
    padding-bottom: 16px;
}
.jd_table ul > *:first-child{
    border-top: 0;
}

#sub-nav{
    font-size: 14px;
    /* background-color: #f5f5f5; */
    display: flex;
    align-items: center;
    padding-left: 20px;
}
.about_us{
    width: 100%;
    height: fit-content;
    flex-shrink: 0;
    display: flex;
    justify-content: space-between;
}
.about_content{
    width: 445px;
    
}
.ab{
    color: #0C2695;
    leading-trim: both;
    text-edge: cap;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: 'Plus Jakarta Sans';
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-left: 82px;
    margin-top: 64px;
} 
.about_vision{
    color: #4C6BF1;
    leading-trim: both;
    text-edge: cap;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: 'Plus Jakarta Sans';
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-left: 82px;
    margin-top: 40px;

}
.about_content{
    color: #6D6D6D;
    leading-trim: both;
    text-edge: cap;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: 'Plus Jakarta Sans';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
    margin-left: 82px;
    margin-top: 16px;
}
.about_mission{
    color: #4C6BF1;
    leading-trim: both;
    text-edge: cap;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: 'Plus Jakarta Sans';
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-left: 82px;
    margin-top: 40px;
}
.about_list{
    height: 204px;
    width: 445px;
    margin-left: 100px;
    margin-top: 16px;
}
.about_list li{
    color: #6D6D6D;
leading-trim: both;
text-edge: cap;
font-feature-settings: 'clig' off, 'liga' off;
font-family: 'Plus Jakarta Sans';
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 24px; /* 150% */
}

.rectangle_blue{
    width: 610px;
    height: initial;
    flex-shrink: 0;
    background-image: linear-gradient(124deg, #0C2695 0%, #4C6BF1 100%);
    margin-left: 25%;
}

.about_image{
    border-radius: 16px;
    background: lightgray 50% / cover no-repeat, #FFF;
    width: 770px;
    height: 313px;
    flex-shrink: 0;
    position: absolute;
    z-index: 2;
    margin-top: 139px;
    margin-left: 780px;
} 
.about_image img{
    width: 540px;
    height: 300px;
}


#director_top{
    border-top: none;
}
.middle_bar{
    display: flex;
}

.director_content{
    max-width: 57vw;
    overflow: hidden;
    display: block;
}
.director_content2{
    display: flex;
    justify-content: space-between;
}
.director_pic{
    border-radius: 50%;
    margin-left: 1.88rem;
    width: 160px;
    height: 160px;
    background: url(diro.jpg);
    background-repeat: no-repeat;
    background-position: top;
    /* background-color: #FFF; */
    display: inline-block;
}

.director_contain{
    margin-left: 1.88rem;
    /* margin-top: 20px; */
}
.dir{
    display: flex;
}

.director_ok{
    color: #0C2695;
    leading-trim: both;
    text-edge: cap;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: 'Plus Jakarta Sans';
    font-size: 2rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-left: 1.88rem;
    margin-bottom: 30px;
}

.director_name{
    color: #000;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: 'Plus Jakarta Sans';
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.director_rank{
    color: #0C2695;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: 'Plus Jakarta Sans';
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    margin-top: 2px;
    line-height: 24px; /* 171.429% */
}
.director_rank2{
    color: #0C2695;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: 'Plus Jakarta Sans';
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 171.429% */
    margin-top: 2px;
}
.rank2{
    color: #6D6D6D;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Plus Jakarta Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    margin-top: 2px;
}
.para_containi{
    margin-left: 1.88rem;
    color: #4C6BF1;
    font-feature-settings: 'clig' off, 'liga' off;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    display: inline-block;
    margin-top: 0px;
}
.para_con{
    color: #000;
    font-feature-settings: 'clig' off, 'liga' off;
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    margin-bottom: 30px;
    margin-right: 50px;
    width: 100%;
}
.para_head{
    color: #4C6BF1;
    font-feature-settings: 'clig' off, 'liga' off;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    display: inline-block;
    /* margin-top: 15px; */
    margin-bottom: 16px;
}
.lifeat{
    display: flex;
    margin-top: 72px;
}

/* Life at ait */
.laa{
    /* width: 1440px; */
    /* background-color: aqua; */
    font-family:'Plus Jakarta Sans';
    margin-left: 60px;
    
    /* border: 1px solid black; */

}
.middle_bar{
    display: flex;
    flex-direction: column;
}
.h23{
    color: #0C2695;

    font-feature-settings: 'clig' off, 'liga' off;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.lc{
    margin-top: 12px;
}

/* Table new */
.table{
    width: 255px;
    height: 603px;
    box-shadow: 0.1px 0.1px 3px rgba(0, 0,0,0.2);
    border-radius: 2px;
    font-family:'Plus Jakarta Sans';
    margin-left: 165px;
    border-radius:8px;
    padding-top: 12px;
    padding-left: 15px;
    padding-right: 17px;
    margin-bottom: 3rem;
}

.table ul p{
    color: #0C2695;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: 'Plus Jakarta Sans';
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px; 
    padding-top: 12px;
    border-style: hidden;
    border-top: 1px solid rgba(234,234,234,1);
    
}

.table ul{
    list-style: none;
    display:flex;
    flex-direction:column;
    gap: 16px;
}

.table ul a{
    font-size: 16px;
    color:#000000;
    text-align:left;
    text-decoration: none;
    vertical-align: middle;
    line-height:24px;
    border-style:hidden;
    /* font-family:' Plus Jakarta Sans'; */
    width: 220px;
    height: 24px;
    border-top: 1px solid rgba(234,234,234,1);
    padding-top: 16px;
    padding-bottom: 16px;
}


/* 
.table{
    display: flex;
    width: 255px;
    height: 496px;
    flex-direction: column;
   
    flex-shrink: 0;
    
    margin-top: 24px; 

    margin-left: 10.00rem;


    
    align-items: center;
    justify-content: space-around;
    background: url(Light.svg);
    background-size: contain;

} */
 .table1{
    color: #000;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Plus Jakarta Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; 
    width: 223px;
    display: flex;
    align-items: center;
    padding-left: 2px ;
    
}
#t12{
    color: #0C2695;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Plus Jakarta Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px; 
}
.tl{
    display: flex;
    align-items: start;
} 
.h24{
    /* margin-top: 26px; */
    margin-top: 1.18rem;
    color: #4C6BF1;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Plus Jakarta Sans;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.lim{
    background-image: url(Rectangle\ 69.png);
    margin-top: 1.5rem;
    width: 540px;
    height: 313px;
    flex-shrink: 0;
    background-size: cover;
    border-radius: 20px;
}
.lic{
    margin-top: 24px;
    color: #000;
    width: 825px;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Plus Jakarta Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 171.429% */

}
#but{
    border-radius: 6px;
    border: 1px solid #0C2695;
    background: #0C2695;
    

/* Neutral/Shadow 02 */
    box-shadow: 0px 1px 4px 0px rgba(25, 33, 61, 0.08);
    color: var(--neutral-colors-100, #FFF);

    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Plus Jakarta Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 22px; /* 137.5% */
    padding: 18px 22px 18px 22px;
}
#but:hover{
    cursor: pointer;
}
.h25{
    color: #0C2695;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Plus Jakarta Sans;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.h30{
    color: #0C2695;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Plus Jakarta Sans;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 72px;
}
.agb{
    height: 1520px;
    margin-left: 60px;
    font-family: 'Plus Jakarta Sans';
    /* display: none; */
    /* width: 1440px; */
}
.agc{
    margin-top: 16px;
    color: #6D6D6D;
    font-feature-settings: 'clig' off, 'liga' off;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.t11{
    background: #4C6BF1;
    /* padding: 1px 1px 1px 1px; */
    /* width: 3px; */
    color: #FFF;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Plus Jakarta Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 171.429% */
}
.govat{
    display: flex;
}
.ait_history{
    margin-left: 60px;
    font-family: 'Plus Jakarta Sans';
    height: 1000px;
}
.ait_history h2{
    color: #0C2695;
    font-feature-settings: 'clig' off, 'liga' off;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.history_con{
    color: #000;
    width: 850px;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Plus Jakarta Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 171.429% */
    margin-top: 1rem;

}
.overview h2{
    margin-top: 1.18rem;
    color: #4C6BF1;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Plus Jakarta Sans;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.content-transition{
    padding-bottom: 50px;
}

.external_link{
    display: flex;
    align-items: center;
    min-width: initial;
    width: 55vw;
    height: 3rem;
    flex-shrink: 0;
    background: #FAFAFA;
    /* background: #000; */
    /* padding-top: 1.12rem; */
    padding-left: 1.12rem;
}

.external_link .link{
    width: 1rem;
    height: 1rem;
    margin: 0.35rem;
    flex-shrink: 0;
}

.external_link .pdf{
    width: 1.35rem;
    height: 1.35rem;
    flex-shrink: 0;
}

#link_external{
    color: #000;
font-feature-settings: 'clig' off, 'liga' off;

font-size: 1rem;
font-style: normal;
font-weight: 500;
line-height: 1.5rem; /* 150% */
padding-left: 1.12rem;
}
.prior{
    text-decoration: none;
} 


#Notices{
    font-family: 'Plus Jakarta Sans';
    /* margin-top: 7.315rem; */
    margin-left: 1.88rem;
}
.notices_info{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 25px 25px;
    margin-top: 40px;
}
.notice_lists:nth-of-type(3){
    grid-column: 3/3;
}
.table_and_notice{
    display: flex
}
.notice_lists{
    height: 113px;
    width: 255px;
    box-shadow: 1px 1px 3px rgba(0, 0,0,0.1);
    border-radius: 10px;
    /* margin: 1rem; */
}
.notice_lists .date{
    font-size: 14px;
    color: #0C2695;
    font-weight: 500;
    padding:0.9rem;
    width: 207px;
    height: 10px;
    text-align: left;
    margin-bottom: 1rem;
}
.notice_lists a{
font-size: 1rem;
font-weight: 500;
text-align: left;
padding: 0.9rem;
color: black;
text-decoration: none;
}

.scholar{
    margin-left: 1.88rem;
}
.scholar h2{
    color: #0C2695;
leading-trim: both;
text-edge: cap;
font-feature-settings: 'clig' off, 'liga' off;
font-family: "Plus Jakarta Sans";
font-size: 2rem;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.industrial_visit_links{
    height: 112px;
    width: 868px;
    border-radius: 10px;
    /* border: solid 0.1px rgba(0, 0, 0, 0.1); */
    box-shadow: 1px 1px 3px rgba(0, 0,0,0.2);
    margin-bottom: 25px;
    display: flex;
    align-items: center;
    /* padding-left: 1.31rem; */
}

.industrial_visit_links img{
    margin-left: 1rem;
    height: 1.3rem;
    width: 1.3rem;
    margin-bottom: 0.35rem;
}
.industrial_visit_links a{
    color: #000;
    padding: 0.4rem 0.8rem 0.8rem 0rem;
    font-size: 1rem;
    font-weight: 500;
    margin-left: 0.8rem;
    
}
.prior{
    text-decoration: none;
}

/* ---------------------------------------------------------------ScholarShip details-------------------------------------------- */

.detail_head{
    display: flex;
    color: #FFF;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: "Plus Jakarta Sans";
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5rem; /* 171.429% */
    background-color: #4C6BF1;
    width: 54.4rem;
    height: 3.5rem;
    flex-shrink: 0;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    padding-top: 1rem;
    padding-left: 1rem;
    gap: 13rem;
}

.detail_tail{
    color: #000;
font-feature-settings: 'clig' off, 'liga' off;
font-family: "Plus Jakarta Sans";
font-weight: 500;
line-height: 1.5rem; /* 171.429% */
background-color: #FAFAFA;
width: 54.4rem;
height: 3.5rem;
 flex-shrink: 0; 
padding-top: 1rem;
padding-left: 1rem;
display: flex;
gap: 9.8rem;
}
.datii{
    color: #000;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: "Plus Jakarta Sans";
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5rem; /* 171.429% */
    width: 6rem;
}
.datii2{
    color: #000; 
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: "Plus Jakarta Sans";
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    text-decoration: none;
    text-align: left;
    line-height: 1.5rem; /* 171.429% */
}
.datii2 img{
    height: 1.2rem;
    width: 1.2rem;
    margin-right: 1rem;
}
.detail_tail2{
    color: #000;
font-feature-settings: 'clig' off, 'liga' off;
font-family: "Plus Jakarta Sans";
font-weight: 500;
line-height: 1.5rem; /* 171.429% */
background-color: #FFF;
width: 54.4rem;
height: 3.5rem;
/* flex-shrink: 0; */
padding-top: 1rem;
padding-left: 1rem;
display: flex;
gap: 9.8rem;
}



/*---------------------------------------------- education loan -------------------------------------------------*/

.loan_svg{
    display: flex;
    gap: 1rem;
}
.loan_svg svg{
    margin-top: 3px;
}
#but {
    border-radius: 6px;
    border: 1px solid #0C2695;
    background: #0C2695;
    box-shadow: 0px 1px 4px 0px rgba(25, 33, 61, 0.08);
    color: var(--neutral-colors-100, #FFF);
    font-feature-settings: 'clig' off, 'liga' off;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 22px;
    padding: 8px 12px 9px 12px;
}
.loan_svg p{
    font-size: 1rem;
    margin-bottom: 1.4rem;
}
.loan_content{
    margin-bottom: 1.2rem;
}
.loan_arrow{
    display: flex;
    gap: 1rem;
    margin-bottom: 1.4rem;
}
.loan_arrow img{
    height: 0.5rem;
    width: 0.5rem;
    margin-top: 0.4rem;
}
.loan_content2{
    margin-top: 2rem;
}
.border_gap{
    width: 54.4rem;
    background-color: #4C6BF1;
    height: 1px;
    margin-top: 1.2rem;
}

#myTable {
    font-size: 1rem;
    min-width: 55vw;
    margin-left: 26px;
    margin-right: 26px;
    font-weight: 600;
    width: initial;
    border-collapse: collapse;
    margin-top: 30px;
    margin-bottom: 20px;
    border-radius: 15px;
    overflow: hidden;
} 

#myTable td {
    border: 1px solid #dddddd;
    text-align: left;
    min-width: 3.4rem;
    padding: 20px 10px;
    border-left: none;
    border-right: none;
}



#row{
    background-color: #fafafa;
    padding-left: 1rem;
    padding-right: 1rem;
    /* min-width: 5.4rem; */
}

.col{
    color: #000; 
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: "Plus Jakarta Sans";
    /* font-size: 1rem; */
    /* font-style: normal;
    font-weight: 500;
    text-decoration: none;
    text-align: left;
    /* text-decoration: underline; */
    color: #0C2695;
    line-height: 1.5rem; 171.429% */
}

.col:hover{
    text-decoration: underline;
}
.col img{
    height: 1.2rem;
    width: 1.2rem;
    margin-right: 1rem;
}


/* magazine */

.mag{
    display: flex;
    /* border: .1px solid; */
    text-decoration: none;
    box-shadow: 1px 1px 5px #6D6D6D;
    justify-content: left;
    gap: 1rem;
    align-items: center;
    padding: 1rem 1rem;
    border-radius: 10px;
    font-weight: 600;
    width: 13rem;             /*<-magwidth*/
    color: #000;
    margin-right: 2rem;
    margin-bottom: 1rem;
}
.mag img{
    height: 10.5rem;
    /* min-width: 6.5rem; */
    width: 8rem;
    font-weight: lighter;
    background: #cccccc;
    font-weight: 600;
    color: #000;
    letter-spacing: .05rem;
}
.mag p{
    font-feature-settings: 'clig' off, 'liga' off;
    font-size: 1rem;
    font-weight: 600;
    font-style: normal;
    line-height: normal;
    writing-mode:vertical-rl;
}
.mag:hover{
    opacity: 90%;
    color:#0C2695;
    transition: 0.4s;
    letter-spacing: .05rem;
    font-weight: 800;
}

.mag-coll{
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
}

.read-mag{
    font-size: 1rem;
    margin-left: ;
}